.body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Source Sans Pro', sans-serif; }

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 4; }

.headerImage {
  width: 50%; }

.topImage {
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-image: url(../images/PRESS_KIT/KEY_ART/WTE_keyart_banner-min.png);
  background-size: cover;
  background-repeat: no-repeat; }
  .topImage img {
    width: 40%;
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
    z-index: 5; }

/*Top Images*/
.videos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5%; }

.textoSinCarrusel {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%; }
  .textoSinCarrusel img {
    width: 10%; }
  .textoSinCarrusel div {
    width: 50%; }

.steam {
  display: flex;
  align-items: center;
  justify-content: center; }

.logosVinculos {
  display: flex;
  justify-content: center; }
  .logosVinculos img {
    display: inline-block;
    width: 5%;
    margin: 5%; }

.imagenesTexto {
  display: flex;
  margin: 3%;
  justify-content: center;
  align-items: flex-start; }
  .imagenesTexto div p {
    display: inline-block;
    margin: 1% 3% 0% 3%; }
  .imagenesTexto div h2 {
    display: inline-block;
    margin: 1% 3% 0% 3%; }

.carrimg {
  width: 50%; }
  .carrimg div div img {
    border-radius: 2%; }

.personajes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%; }
  .personajes div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .personajes div img {
      width: 30%; }
    .personajes div h3 {
      display: inline-block;
      font-size: medium; }
    .personajes div p {
      display: inline-block; }
