
.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 4;
}

.headerImage {
    width: 50%;
}

.topImage {
    
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-image: url(../images/PRESS_KIT/KEY_ART/WTE_keyart_banner-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    img {
        width: 40%;
        position: -webkit-sticky;
        position: sticky;
        top: 1px;
        z-index: 5;
    }
}

/*Top Images*/